@font-face {
  font-family: "ABChanel Corpo Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ABChanel Corpo Light.woff2") format("woff2"), url("../fonts/ABChanel Corpo Light.woff") format("woff"), url("../fonts/ABChanel Corpo Light.eot") format("eot"), url("../fonts/ABChanel Corpo Light.ttf") format("ttf");
}
@font-face {
  font-family: "ABChanel Corpo Extra Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ABChanel Corpo Extra Light.woff2") format("woff2"), url("../fonts/ABChanel Corpo Extra Light.woff") format("woff"), url("../fonts/ABChanel Corpo Extra Light.eot") format("eot"), url("../fonts/ABChanel Corpo Extra Light.ttf") format("ttf");
}
@font-face {
  font-family: "TT Commons Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/TTCommons-Light.woff2") format("woff2"), url("../fonts/TTCommons-Light.woff") format("woff"), url("../fonts/TTCommons-Light.eot") format("eot"), url("../fontsTTCommons-Light.ttf") format("ttf");
}
@font-face {
  font-family: "TT Commons Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff"), url("../fonts/TTCommons-Regular.eot") format("eot"), url("../fontsTTCommons-Regular.ttf") format("ttf");
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFFFFF;
}

p {
  font-family: "TT Commons Light", sans-serif;
  font-size: 1.8rem;
}

.container {
  padding: 10rem 1.25rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 164rem;
    margin: 0 auto;
    padding: 14rem 1.25rem;
  }
}

.personal-container {
  padding: 0;
}

.title-first {
  display: none;
}

.title-second {
  font-family: "ABChanel Corpo Light", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 2.8rem;
  text-align: center;
  margin: 0 0 2rem 0;
}
@media (min-width: 768px) {
  .title-second {
    text-align: left !important;
    margin: 0 0 2.5rem 0 !important;
    font-size: 5.5rem;
  }
}
@media (min-width: 1200px) {
  .title-second {
    text-align: left !important;
    margin: 0 0 2.5rem 0 !important;
    font-size: 5.5rem;
  }
}

.title-third {
  font-family: "ABChanel Corpo Extra Light", sans-serif;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 150%;
}
@media (min-width: 768px) {
  .title-third {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .title-third {
    font-size: 3rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom-0px {
  margin-bottom: 0;
}

.margin-bottom-10px {
  margin: 0 0 1rem 0;
}

.margin-bottom-15px {
  margin: 0 0 1.5rem 0;
}

.margin-bottom-20px {
  margin: 0 0 2rem 0;
}

.margin-bottom-30px {
  margin: 0 0 3rem 0;
}

.margin-bottom-35px {
  margin: 0 0 3.5rem 0;
}

.margin-bottom-40px {
  margin: 0 0 4rem 0;
}

.margin-bottom-70px {
  margin: 0 0 7rem 0;
}

.color-white {
  color: #FFFFFF;
}

.width-70 {
  max-width: 70%;
}
@media (min-width: 1200px) {
  .width-70 {
    max-width: 100%;
  }
}

.display-none {
  display: none;
}

.mobile {
  display: block;
}
@media (min-width: 1200px) {
  .mobile {
    display: none !important;
  }
}

.desctop-form {
  display: none;
}
@media (min-width: 1200px) {
  .desctop-form {
    display: block;
  }
}

.slider {
  position: relative;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  overflow: hidden;
  font-family: sans-serif;
}
@media (min-width: 1200px) {
  .slider {
    margin: 0;
    max-width: 100%;
  }
}
.slider input[type=radio] {
  display: none;
}
.slider__track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.slider__slide {
  width: 100%;
  flex-shrink: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: #FFFFFF;
  color: #333;
}
@media (min-width: 1200px) {
  .slider__slide {
    flex-direction: row;
    gap: 13rem;
    align-items: flex-start;
  }
}
@media (min-width: 1400px) {
  .slider__slide {
    flex-direction: row;
    gap: 28rem;
    align-items: flex-start;
  }
}
.slider #slide1:checked ~ .slider__track {
  transform: translateX(0%);
}
.slider #slide2:checked ~ .slider__track {
  transform: translateX(-100%);
}
.slider #slide3:checked ~ .slider__track {
  transform: translateX(-200%);
}
.slider__arrows {
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}
.slider__arrows .arrow {
  display: none;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  cursor: pointer;
  font-size: 2.4rem;
  user-select: none;
}
.slider #slide1:checked ~ .slider__arrows .arrow:nth-child(3),
.slider #slide1:checked ~ .slider__arrows .arrow:nth-child(4),
.slider #slide1:checked ~ .slider__arrows .arrow:nth-child(5),
.slider #slide1:checked ~ .slider__arrows .arrow:nth-child(6) {
  display: none;
}
.slider #slide2:checked ~ .slider__arrows .arrow:nth-child(1),
.slider #slide2:checked ~ .slider__arrows .arrow:nth-child(2),
.slider #slide2:checked ~ .slider__arrows .arrow:nth-child(5),
.slider #slide2:checked ~ .slider__arrows .arrow:nth-child(6) {
  display: none;
}
.slider #slide3:checked ~ .slider__arrows .arrow:nth-child(1),
.slider #slide3:checked ~ .slider__arrows .arrow:nth-child(2),
.slider #slide3:checked ~ .slider__arrows .arrow:nth-child(3),
.slider #slide3:checked ~ .slider__arrows .arrow:nth-child(4) {
  display: none;
}
.slider__dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .slider__dots {
    position: absolute;
    bottom: 0;
    right: 45%;
  }
}
.slider__dots label {
  opacity: 20%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  transition: background 0.3s;
}
.slider #slide1:checked ~ .slider__dots label:nth-child(1),
.slider #slide2:checked ~ .slider__dots label:nth-child(2),
.slider #slide3:checked ~ .slider__dots label:nth-child(3) {
  background: #000000;
  opacity: 100%;
}

@media (min-width: 1200px) {
  .slider-content__wrap {
    display: flex;
    flex-direction: column;
  }
}
.slider-content__ico {
  width: 100%;
  border-radius: 2rem;
}
@media (min-width: 1200px) {
  .slider-content__ico {
    width: 56rem;
  }
}
.slider-content__desc {
  display: inline-block;
  font-family: "TT Commons Light", sans-serif;
  font-size: 1.8rem;
  line-height: 140%;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .slider-content__desc {
    font-size: 2rem;
    margin-bottom: 2rem !important;
  }
}
.slider-content__content {
  line-height: 140%;
}

.slider__control_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 7rem;
  border: 0.1rem solid #000000;
  border-radius: 3rem;
}

.btn__wrapper {
  display: inline-block;
  padding: 0.1rem;
  border-radius: 100rem;
  background: linear-gradient(to right, #000000 0%, #FFFFFF 70%, #000000 100%);
}
.btn__style {
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: none;
  padding: 1.3rem 4rem;
  border-radius: 97rem;
  font-size: 1.6rem;
  font-family: "ABChanel Corpo Light", sans-serif;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  transition: 0.4s all ease;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #FFFFFF;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
}
.btn__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .btn__desctop {
    display: block;
    position: absolute;
    top: 84%;
    right: 0;
  }
}

.btn__style:hover {
  background-color: #d9e9f4;
  transition: 0.4s all ease;
}

.waranty-card {
  width: 100%;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  margin: 0 0 2rem 0;
}
@media (min-width: 1200px) {
  .waranty-card {
    width: 24.2%;
    margin: 0 1rem 2rem 0;
  }
}
.waranty-card__comtainer {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .waranty-card__title {
    margin: 0 0 8rem 0 !important;
  }
}
.waranty-card__white {
  color: #000000;
  background-color: #E6EBF5;
}
.waranty-card__transparent {
  color: #FFFFFF;
  background-color: transparent;
  border: 0.3rem solid #E6EBF5;
}
@media (min-width: 1200px) {
  .waranty-card__title {
    font-size: 2.5rem;
  }
}
.waranty-card__desc {
  font-size: 2.2rem;
}
@media (min-width: 1200px) {
  .waranty-card__desc:nth-child(1) {
    padding: 0 0 2.4rem 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(1) .waranty-card__title {
    padding-bottom: 9.4rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(2) .waranty-card__title {
    padding-bottom: 2rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(3) .waranty-card__title {
    padding-bottom: 6.3rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(4) .waranty-card__title {
    padding-bottom: 9.8rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(5) .waranty-card__title {
    padding-bottom: 9.8rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(6) .waranty-card__title {
    padding-bottom: 12.9rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(7) .waranty-card__title {
    padding-bottom: 13rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(8) .waranty-card__title {
    padding-bottom: 6.3rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(9) .waranty-card__title {
    padding-bottom: 12.5rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(10) .waranty-card__title {
    padding-bottom: 12.9rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-of-type(11) .waranty-card__title {
    padding-bottom: 3.2rem;
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(1) {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(2) {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(3) {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(4) {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(5) {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(6) {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(7) {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(8) {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(9) {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(10) {
    width: 49%;
    order: 2;
  }
}

@media (min-width: 1200px) {
  .waranty-card:nth-child(11) {
    order: 2;
  }
}

.waranty__title {
  margin: 0 0 8rem 0 !important;
}

.contacts-content__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .contacts-content__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.contacts-content__cart {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 0 4rem 0;
}
@media (min-width: 1200px) {
  .contacts-content__cart {
    margin: 0 8rem 0 0;
  }
}
.contacts-content__link {
  font-family: "TT Commons Light", sans-serif;
  font-size: 2.2rem;
  color: #000000;
}
.contacts-content__link:hover {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .contacts-content__desc {
    padding: 0.4rem 0 0 0;
  }
}

.contacts-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

@media (min-width: 1200px) {
  .form-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .form-section__title {
    text-align: center !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}
@media (min-width: 1200px) {
  .form__wrap {
    flex-direction: row;
  }
}
.form__card {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}
.form__card:last-child {
  margin: 0;
}
@media (min-width: 1200px) {
  .form__card {
    width: 100%;
    margin: 0 3.5rem 0 0;
  }
}
.form__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form__row--checkbox {
  font-size: 1.6rem;
  color: #000507;
  opacity: 70%;
}
@media (min-width: 1200px) {
  .form__row--checkbox {
    display: flex;
    justify-content: center;
  }
}
.form__input, .form__textarea, .form select {
  flex: 1 1 100%;
  margin: 0 0 2rem 0;
  padding: 1.2rem 1.5rem;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: "TT Commons Regular", sans-serif;
  color: #000000;
  opacity: 30%;
  outline: none;
}
.form__input:last-child, .form__textarea:last-child, .form select:last-child {
  margin: 0;
}
@media (min-width: 1200px) {
  .form__input, .form__textarea, .form select {
    max-width: 100%;
  }
  .form__input:focus, .form__textarea:focus, .form select:focus {
    background-color: #4FA1DB;
    opacity: 10%;
    color: #000000;
  }
}
.form__textarea {
  width: 100%;
  min-height: 10rem;
  resize: vertical;
}
.form__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.form__checkbox input[type=checkbox] {
  margin-top: 0;
}
.form__checkbox a {
  color: #02170F;
  text-decoration: underline;
}
.form__button {
  background-color: #5052ca;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.form__button:hover {
  background-color: #3f41b0;
}
.form__label {
  font-size: 1.8rem;
  font-family: "TT Commons Regular", sans-serif;
  color: #000000;
}

.select-wrapper {
  position: relative;
  margin: 0 0 2rem 0;
}
.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1.2rem 4rem 1.2rem 1.5rem;
  font-size: 1.8rem;
  font-family: "TT Commons Regular", sans-serif;
  border: 0.05rem solid #000000;
  border-radius: 1rem;
  width: 100%;
  background: none;
  border: 0.1rem solid #000000;
  color: #000000;
  opacity: 30%;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 2rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1.2rem;
  pointer-events: none;
  background-image: url("../img/form-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.form-desctop__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}
.form-desctop__wrap-left {
  width: 45%;
}
.form-desctop__wrap-right {
  width: 45%;
}
.form-desctop__wrap-content-area {
  width: 94% !important;
}

@media (min-width: 1200px) {
  .testimonials__title {
    max-width: 40%;
  }
}

.personal {
  background-color: #02170F;
  width: 100%;
}
.personal__container {
  padding: 0;
}
@media (min-width: 1200px) {
  .personal__wrap {
    display: flex;
    gap: 24.4rem;
  }
}
@media (min-width: 1200px) {
  .personal__header-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .personal__desc {
    text-align: left !important;
  }
}

@media (min-width: 1200px) {
  .personal-wrap__left {
    max-width: 35%;
  }
}
@media (min-width: 1200px) {
  .personal-wrap__right {
    max-width: 30%;
  }
}

.personal-link {
  display: flex;
  gap: 20%;
}
.personal-link__left {
  width: 32%;
}
.personal-link__right {
  width: 23%;
}
.personal-link__item {
  display: inline-block;
  padding: 0 0 1.5rem 0;
}
.personal-link__item:last-child {
  padding: 0;
}
.personal-link__link {
  display: inline-block;
  font-family: "TT Commons Regular", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 140%;
}

.trust {
  position: relative;
}
@media (min-width: 1200px) {
  .trust__title {
    margin: 0 0 8rem 0 !important;
  }
}
.trust__btn {
  position: relative !important;
  top: 0;
  right: 0;
}
@media (min-width: 1200px) {
  .trust__btn {
    position: absolute !important;
    top: 18%;
    right: 10%;
  }
}
.trust__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .trust__wrapper {
    justify-content: start;
  }
}
.trust__pic {
  cursor: pointer;
  width: calc(50% - 1rem);
  max-width: 17.2rem;
}
.trust__pic:nth-child(3) {
  order: 0;
}
.trust__pic:nth-child(4) {
  order: 3;
}
@media (min-width: 1200px) {
  .trust__pic {
    max-width: 29.3rem;
  }
  .trust__pic:nth-child(1) {
    order: 0;
  }
  .trust__pic:nth-child(2) {
    order: 1;
  }
  .trust__pic:nth-child(3) {
    order: 3;
  }
  .trust__pic:nth-child(4) {
    order: 2;
  }
  .trust__pic:nth-child(5) {
    order: 6;
  }
  .trust__pic:nth-child(6) {
    order: 7;
  }
  .trust__pic:nth-child(7) {
    order: 8;
  }
  .trust__pic:nth-child(8) {
    order: 9;
  }
}

.waranty {
  background-color: #02170F;
  height: auto;
}

.contacts {
  background-image: url("../img/contacts_bgc_jpg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}
@media (min-width: 1200px) {
  .contacts {
    background-image: url("../img/contacts_bgc-desc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.contacts__title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .contacts__title-wrap {
    margin: 0 auto 3rem auto;
    width: 75%;
  }
}
.contacts__title {
  text-align: center !important;
  max-width: 60%;
  background: linear-gradient(90deg, #2b5876 0%, #51a4dc 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.contacts__desc {
  text-align: center;
}
@media (min-width: 1200px) {
  .contacts__desc {
    margin: 0 auto;
    width: 65%;
  }
}