//Основные цвета сайта
$color-green-accent: #02170F

//Черный и белый цвет сайта / Цвет текста
$color-black: #000000
$color-white: #FFFFFF
$color-form-link: #000507
//Стили карточки
$color-bgc-card: #E6EBF5

// Активное  поле
$color-form-focus: #4FA1DB

//Стили шрифтов
$font-title-light: "ABChanel Corpo Light", sans-serif
$font-title-extra-light: "ABChanel Corpo Extra Light", sans-serif
$font-content-light: "TT Commons Light", sans-serif
$font-content-link-regular: "TT Commons Regular", sans-serif

// Типографика
$font-size-btn: 1.6rem
$font-size-paragraph: 1.8rem
$font-size-paragraph-h2: 2.8rem
$font-size-paragraph-h3: 2rem

//Типографика ПК
$font-size-paragraph-55px-pc: 5.5rem ~/../css//
$font-size-paragraph-h3-pc: 3rem

// Фоны секций
$bg-contacts-image: url('../img/contacts_bgc_jpg.jpg')
$bg-contacts-image-pc: url('../img/contacts_bgc-desc.jpg')
