.waranty-card
    width: 100%
    padding: 3rem 2.5rem
    border-radius: 2rem
    margin: 0 0 2rem 0
    @media (min-width: 1200px)
        width: 24.2%
        margin: 0 1rem 2rem 0
    &__comtainer
        display: flex
        flex-wrap: wrap
    &__title
        @media (min-width: 1200px)
            margin: 0 0 8rem 0 !important
    &__wrapper
        @media (min-width: 1200px)

    &__white
        color: $color-black
        background-color: $color-bgc-card
    &__transparent
        color: $color-white
        background-color: transparent
        border: .3rem solid $color-bgc-card
    &__title
        @media (min-width: 1200px)
            font-size: 2.5rem
    &__desc
        font-size: 2.2rem
        @media (min-width: 1200px)
            &:nth-child(1)
                padding: 0 0 2.4rem 0

.waranty-card:nth-of-type(1) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 9.4rem
        margin: 0 !important

.waranty-card:nth-of-type(2) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 2rem
        margin: 0 !important

.waranty-card:nth-of-type(3) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 6.3rem
        margin: 0 !important

.waranty-card:nth-of-type(4) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 9.8rem
        margin: 0 !important

.waranty-card:nth-of-type(5) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 9.8rem
        margin: 0 !important

.waranty-card:nth-of-type(6) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 12.9rem
        margin: 0 !important

.waranty-card:nth-of-type(7) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 13rem
        margin: 0 !important

.waranty-card:nth-of-type(8) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 6.3rem
        margin: 0 !important

.waranty-card:nth-of-type(9) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 12.5rem
        margin: 0 !important

.waranty-card:nth-of-type(10) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 12.9rem
        margin: 0 !important

.waranty-card:nth-of-type(11) .waranty-card__title
    @media (min-width: 1200px)
        padding-bottom: 3.2rem
        margin: 0 !important 

.waranty-card:nth-child(1)
    @media (min-width: 1200px)
        order: 0

.waranty-card:nth-child(2)
    @media (min-width: 1200px)
        order: 0

.waranty-card:nth-child(3)
    @media (min-width: 1200px)
        order: 0

.waranty-card:nth-child(4)
    @media (min-width: 1200px)
        order: 0

.waranty-card:nth-child(5)
    @media (min-width: 1200px)
        order: 1

.waranty-card:nth-child(6)
    @media (min-width: 1200px)
        order: 0

.waranty-card:nth-child(7)
    @media (min-width: 1200px)
        order: 1

.waranty-card:nth-child(8)
    @media (min-width: 1200px)
        order: 2

.waranty-card:nth-child(9)
    @media (min-width: 1200px)
        order: 2

.waranty-card:nth-child(10)
    @media (min-width: 1200px)
        width: 49%
        order: 2

.waranty-card:nth-child(11)
    @media (min-width: 1200px)
        order: 2
