// Настройки заголовков
.title-first
    display: none

.title-second
    font-family: $font-title-light
    color: $color-black
    text-transform: uppercase
    font-size: $font-size-paragraph-h2
    text-align: center
    margin: 0 0 2rem 0
    @media (min-width: 768px)
        text-align: left !important
        margin: 0 0 2.5rem 0 !important
        font-size: $font-size-paragraph-55px-pc

    @media (min-width: 1200px)
        text-align: left !important
        margin: 0 0 2.5rem 0 !important
        font-size: $font-size-paragraph-55px-pc

.title-third
    font-family: $font-title-extra-light
    font-weight: 300
    color: $color-black
    text-transform: uppercase
    font-size: $font-size-paragraph-h3
    line-height: 150%
    @media (min-width: 768px)
        font-size: $font-size-paragraph-h3-pc

    @media (min-width: 1200px)
        font-size: $font-size-paragraph-h3-pc
