// Настройки заголовков
.title-second
    font-family: $font-title-light
    color: $color-black
    text-transform: uppercase
    font-size: $font-size-paragraph-h2

.title-third
    font-family: $font-title-extra-light
    font-weight: 300
    color: $color-black
    text-transform: uppercase
    font-size: $font-size-paragraph-h3
    line-height: 150%

